/* GERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior:smooth;
}

p {
  color: rgb(59, 58, 58);
}

h1 {
  color: rgb(51, 19, 82)
}

.logo {
  color: rgb(51, 19, 82)
  
}

/* TRANSIÇÃO */

a,
.btn {
  transition: all 300ms ease;
}

/* NAVEGADOR (OBS: dei preferencia ao navegador hamburguer, mas fica uma outra possibilidade de navegação*/ 

nav,
.nav-links {
  display: none;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
  display: flex;
}


a {
  color: rgb(34, 15, 80);
  text-decoration: none;
  text-decoration-color: rgb(184, 163, 207);
}

a:hover {
  color: rgb(191, 156, 247);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(51, 19, 82);
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
  color: rgb(184, 163, 207);
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: flex;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: rgb(51, 19, 82);
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(51, 19, 82);
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SEÇÕES */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 auto;
  box-sizing: border-box;
  min-height: fit-content;
  max-width: 1280px;
  }

.section-container {
  display: flex;
}

/* PERFIL SEÇÃO */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 400px;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONES */

.icon {
  cursor: pointer;
  height: 2rem;
  filter: brightness(0) saturate(100%) invert(17%) sepia(1%) saturate(142%) hue-rotate(0deg) brightness(98%) contrast(93%);
  transition: filter 0.3s ease;
}

.icon:hover {
  filter: invert(20%) sepia(60%) saturate(500%) hue-rotate(250deg);
}


/* BOTÕES */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 30px;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  color: rgb(51, 19, 82);
}

.btn-color-1,
.btn-color-2 {
  border: rgb(184, 163, 207) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(184, 163, 207);
  color: white;
}

.btn-color-1:hover {
  background: rgb(184, 163, 207);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(184, 163, 207) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* SOBRE SEÇÃO */

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: rgb(233, 232, 233);
  border-radius: 2rem;
  border: rgb(34, 15, 80) 0.1rem solid;
  border-color: rgb(34, 15, 80);
  text-align: center;
  width: 32%;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* EXPERIÊNCIA SEÇÃO */

#experience {
  position: relative;
}

.experience-sub-title {
  color: rgb(51, 19, 82);
  font-weight: 600;
  font-size: 1.5rem;
  height: 140px;
  margin-bottom: 2rem;

}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: auto;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* SEÇÃO DOS PROJETOS */

#projects {
  position: relative;
}

.projects-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.color-container {
  border-color: rgb(34, 15, 80);
  background: rgb(233, 232, 233);
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: rgb(51, 19, 82);
}

.project-btn {
  color: rgb(51, 19, 82);
  border-color: rgb(184, 163, 207);
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 768px) {
  .projects-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}


/* CONTATO */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: black 0.1rem solid;
  border-color: rgb(218, 207, 224);
  background: (250, 250, 250);
  margin: 2rem 0;
  padding: 0.5rem;
}

.social-contact-container {
  border-radius: 2rem;
  border: black 0.1rem solid;
  border-color: rgb(218, 207, 224);
  background: (250, 250, 250);
  margin: 2rem 0;
  padding: 0.5rem;

}
.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* SEÇÃO RODAPÉ */

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}

